@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

body{
    background-color: rgb(8, 19, 3);
}

nav{
    /* border: 1px solid red;   */
    height: 10vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 0;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(218, 218, 218);
}

h2{
  margin: 0% 3% ;
  cursor:default;
}
h2:hover{
    color: rgb(194, 193, 193);
    
}


#btn-record{
    margin-right: 5%;
    padding: 8px 14px;
    font-size: medium;
    font-weight: 900;
    color: #fff;
    background-color: rgb(0, 141, 7);
    border: none;
    border-radius: 5px;
    letter-spacing: 0.5px;
    cursor: pointer;
}
#btn-record:hover{
    background-color: rgba(4, 255, 17, 0.651);
}
#container1{
    /* border: 1px solid green; */
    display: block;
    margin: 0.5% auto;
    width: 60%;
    height: 85vh;
    border-radius: 2%;
    background-color: black;
}

#Monoco{
    width: 98%;
    margin: 0% auto;
}

#btn-div{
    display: flex;
    justify-content: right;
    align-items: center;
}

#select-div{
    width: 16vw;
    display: flex;
    align-items: center;
    margin: 5px 0px;
    color: #fff;
}


#select-div label{
    font-size: larger;
    font-weight: bolder;
    margin-right: 5px ;
}


@media (max-width : 800px) {
    #Monoco{
        width: 90%;
        margin: 0% auto;
    }
}
@media (max-width : 500px) {
    #Monoco{
        width: 100%;
        margin: 0% auto;
    }
    nav{
        font-size: 200%;
    }
}