*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

#box{
    border: 1px solid black;
    width: 100%;
    height: 100vh;
    background-color: black;
}
#back{
    width: 40px;
    height: 40px;
    filter: saturate(10000);
}

/* body{
    overflow: hidden;
} */
#record{

     position: absolute;
     left: 20%;
     /* border: 1px solid red; */
     width: 60%;
     margin: 2% auto 0%;
     height: 70vh;
     display: flex;
     align-items: center;
     background: linear-gradient(#00ccffd0,#d400d4ce);
     z-index: 3;
}


#container{
    /* border: 1px solid yellow; */
    display: block;
    margin: 0.5% auto;
    width: 60%;
    height: 85vh;
    border-radius: 2%;
    background-color: rgb(214, 214, 214);
    height: 80%;
    width: 80%;
    border-radius: 10px;
    position: relative;
    left: 5%;
    margin: 0%;
    background-color: rgb(37, 34, 34);
    color: rgb(172, 169, 169);
}

#textarea{
    border: none;
    /* border: 1px solid rgb(0, 128, 107); */
    background-color: rgb(214, 214, 214);
    outline: none;
    padding: 2%;
    resize: none;
    font-size: larger;
    font-family: 'Fira Code', monospace;
    height: 100%;
    width: 95%;
    border-radius: 2%;
    width: 85%;
    /* border: 1px solid red; */
    background-color: rgb(37, 34, 34);
    color: #fff;
}

#count-num{
    display: inline-block;
    /* border: 1px solid red; */
    resize: none;
    font-size: larger;
    font-family: 'Fira Code', monospace;
    width: 4.1%;
    height: 100%;
    position: relative;
    left: 1%;
    padding: 2% 0%; 
    overflow: scroll;
    background-color: rgb(214, 214, 214);
    text-align: center;
    background-color: transparent;
}

#vid{

    /* border: 1px solid greenyellow; */
    width: 150px;
    margin: 0%;
    height: 40vh;
    position: relative;
    right: 3%;
    border-radius: 14px;
}

#download-vid{
    overflow: hidden;
    display: block;
    /* border: 1px solid #fff; */
    width: 60%;
    height: 70vh;
    margin: 5% auto 0%;
    opacity: 0;
}

#download-btn{
    display: block;
    padding: .5rem 1rem;
    outline: none;
    border: none;
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 3% auto;
    background-color: rgba(0, 204, 0, 0.884);
    color: #fff;
    font-size: larger;
    cursor: pointer;
}
#download-btn:hover{
    background-color: rgb(255, 175, 1);;
}

#btnStart{
    border: none;
    outline: none;
    display: inline-block;
    margin: 0% auto;
    padding: 0.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    font-weight: lighter;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}

#btnStart:hover{
    cursor: pointer;
    background-color: rgb(255, 72, 0);
}

img{
    /* border: 1px solid red; */
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

#divStop{
    /* border: 1px solid red; */
    width: 15%;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 37px;
    background-color: black;
    margin: 0% auto;
    z-index: -1;
}

#btnStop{
    border: none;
    outline: none;
    margin: 0% auto 0;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: lighter;
    border-radius: 5px;
    background-color: #4c2778;
    color: #fff;
    cursor: pointer;
    text-decoration-line: none!important;
    text-align: center;
    width: 100px;
    height: 28px;
}

canvas{ 
    display: block;
    width: 60%; 
    height: 70vh; 
    /* border: 1px solid yellow; */
    margin: 2% auto 0;
}

#canva{
    background-color: aqua;
    position: relative;
}

#cropCvs{
    position: absolute;
    top: 40px;
    left: 275px;
}

#play-button{
    font-size: 200%;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    padding: 7px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    outline: none;
    border: none;
    position: absolute;
    top: 40%;
    left: 47%;
    cursor: pointer;
    z-index: 2;
    opacity: 0.5;
}

#success{
    border: 1px solid red;
    width: 640px;
    height: 360px;
    position: absolute;
    top: 13%;
    left: 30%;
    z-index: -99;

}